


<div class="Container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
         <div class="card-header">RFQ Open
          </div>
          <div class="card-body">
            <app-progress></app-progress>
          </div>
    </div>
  </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
         <div class="card-header">RFQ Closed
          </div>
          <div class="card-body">
            <app-closed></app-closed>
          </div>
    </div>
  </div>
  </div>

</div>
